<div ng-if="!isAuthenticated()">
  <div class="home-open" ng-style="windowHeight">
    <div class="overlay" ng-style="windowHeight">
      <h1 class="center-text home-title white">Tools for Teachers</h1>
      <h5 class="center-text white"> Tools to help Pre-Kindergarten and Kindergerten assessments easier and faster, so you can get back to teaching.</h5>
      <br>
      <div class="center-text" >
        <div class="btn btn-success" ng-click="signUp()" >
          <h5 class="white" >Sign Up!</h5>
        </div>
      </div>
      <center>
        <div class="center-text pointer" ng-style="featureBtnMargin" scroll-to="features">
          <h4 class="white">Features</h4>
          <span class="ion-chevron-down white large"></span>
        </div>
      </center>
    </div>
  </div>

  <div id="features" class="home-tutorial">
    <div class="overlay1">
      <div class="row feature-body">
        <div class="col-sm-4">
          <h3 class="center-text white">Assessments</h3>
          <h5 class="center-text home-feature-body">Automated & teacher guided tests that are easily saved and stored. Test your students progress on their letter and sight word recognition.</h5>
          <img src="img/home_assesments.png" class="img-circle home-feature-img">
        </div>
        <div class="col-sm-4">
          <h3 class="center-text white">Track</h3>
          <h5 class="center-text home-feature-body">See which students took their assessments. Check the calendar and past assessments to easily keep a testing schedule.</h5>
          <img src="img/home_tracker.png" class="img-circle home-feature-img">
        </div>
        <div class="col-sm-4">
          <h3 class="center-text white">Student Progress</h3>
          <h5 class="center-text home-feature-body">Watch students progress to meet goals. See which students need more attention with a simple class comparisons.</h5>
          <img src="img/home_student_progress.png" class="img-circle home-feature-img">
        </div>
      </div>
      <br>
      <br>
      <div class="center-text" >
        <div class="btn btn-success" ng-click="signUp()" >
          <h5 class="white" >I'm Ready!</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="isAuthenticated()">
  <div class="home-open-in">
    <div class="overlay2">
      <div class="container">

        <h4 class="center-text white">WELCOME</h4>
        <h5 class="center-text white"> to </h5>
        <h1 class="center-text white">HappyTree</h1>

        <h6 class="white how-to"> FIND OUT HOW TO</h6>
        <div class="row">
          <div class="col-sm-3">

              <div class="">
                <div class="pointer how-btn" ng-click="showHowPanel('add-class')"> Add a Class </div>
                <div class="how-container" id="add-class">
                  <h6 class="center-text white">Go to <span class="btn btn-default no-caps" ng-click="goToStudents()">Students</span></h6>
                  <h6 class="center-text white ion-chevron-down"></h6>
                  <h6 class="center-text white">Click the <span class="btn btn-success no-pointer" disable><span class="ion-plus"></span></span></h6>
                  <h6 class="center-text white ion-chevron-down"></h6>
                  <h6 class="center-text white">Create a Class</h6>
                </div>
              </div>

          </div>
          <div class="col-sm-3">

              <div class="">
                  <div class="pointer how-btn" ng-click="showHowPanel('add-student')"> Add Students</div>
                <div class="how-container" id="add-student">
                  <h6 class="center-text white">Go to <span class="btn btn-default no-caps" ng-click="goToStudents()">Students</span></h6>
                  <h6 class="center-text white ion-chevron-down"></h6>
                  <h6 class="center-text white">Select the class you would like to add students to.</h6>
                  <h6 class="center-text white ion-chevron-down"></h6>
                  <h6 class="center-text white">Click the <span class="btn btn-success no-pointer" disable><span class="ion-plus"></span></span></h6>
                  <h6 class="center-text white ion-chevron-down"></h6>
                  <h6 class="center-text white">Add Students</h6>
                </div>
              </div>

          </div>
          <div class="col-sm-3">
            <div class="">
              <div class="pointer how-btn" ng-click="showHowPanel('assess-student')">Assess Students</div>
              <div class="how-container" id="assess-student">
                <h6 class="center-text white">Go to <span class="btn btn-default no-caps" ng-click="goToTools()">Tools</span></h6>
                <h6 class="center-text white ion-chevron-down"></h6>
                <h6 class="center-text white">Choose an assessment</h6>
                <h6 class="center-text white ion-chevron-down"></h6>
                <h6 class="center-text white">Read propmt</h6>
                <h6 class="center-text white ion-chevron-down"></h6>
                <h6 class="center-text white">Start the assessment</h6>
                <p class="center-text white"> TIP: Create custom sight word lists at:<br> <strong>Tools</strong> > <strong>Sight Words</strong> > <strong>Create/Edit List</strong></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="">
              <div class="pointer how-btn" ng-click="showHowPanel('track-progress')">Track Progress</div>
              <div class="how-container" id="track-progress">
             
                <h6 class="center-text white">Go to <span class="btn btn-default no-caps" ng-click="goToTracker()">Tracker</span></h6>
                <h6 class="center-text white ion-chevron-down"></h6>
                <h6 class="center-text white">See who took which assessment and when</h6>
                <h5 class="center-text white">OR</h5>
                <h6 class="center-text white">Go to <span class="btn btn-default no-caps" ng-click="goToStudents()">Students</span></h6>
                <h6 class="center-text white ion-chevron-down"></h6>
                <h6 class="center-text white">Select a class and student to see individual scores.</h6>

                <h6 class="center-text white ion-chevron-down"></h6>
                <h6 class="center-text white">Compare class scores and individual student progess</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

<div>
  <p class="center-text">Copyright © 2015 | Design & Development by <a href="http://mameneses.github.io/" target="_blank">Matias Meneses</a> </p>
</div>