<div class="prompt-page" ng-show="promptShowing">
  <div class="panel panel-success prompt-panel">
    <div class="panel-heading">
      <h3 class="center-text">Prompt</h3>
    </div>
    <div class="panel-body">
      <ol>
        <li><h5>Select a class, student, and Sight Word List.</h5></li>
        <li><h5>Point to the word and ask student to say the word.</h5></li>
        <li><h5>If correct, click the word and move on. (a Plus will show)</h5></li>
        <h5>OR</h5>
        <h5>If the student hesitates for more than 3 second, sounds out the word, or says an incorrect word, move on without clicking.</h5>
        <h5>If the student identifies less that half the words on a list, consider stopping the assessment.</h5>
        <li><h5>When finished click "Save"</h5></li>
      </ol>
      <div class="center-text">
        <button ng-click="hidePrompt()" class="btn btn-default ">Okay</button>
      </div>
    </div>
  </div>
</div>

<div ng-show="sightWordsShowing">
  <div class="row">
    <div class="col-sm-2"><h3 class="center-text">Sight Words</h3></div>
    <div class="col-sm-2" ng-show="!isAuthenticated()"></div>
    <div class="col-sm-2" ng-show="isAuthenticated()">Class:
      <form name="classForm">
        <fieldset class="form-group">
          <select ng-model="currentClass" class="letter-assesment-form-control form-control pointer" ng-options="class as  class for class in currentUser.classes | orderBy:'firstName'"  title="Classes" ng-change="setCurrentStudents()">
            <option value="" disabled selected style='display:none;'> Choose Class </option>
          </select>
        </fieldset>
      </form>
    </div>
    <div class="col-sm-2" ng-show="!isAuthenticated()"></div>
    <div class="col-sm-2" ng-show="isAuthenticated()">Student: 
    <form name="studentFrom">
      <fieldset class="form-group">
        <select ng-model="selectedStudent" class="form-control" ng-options="student as student.firstName + ' ' + student.lastName for student in currentStudents | orderBy:'firstName'"  title="Students">
          <option value="" disabled selected style='display:none;'>Choose Student</option>
        </select>
      </fieldset>
    </form>
    </div>
    <div class="col-sm-2">
      <div>Sight Word List:</div>
      <fieldset class="form-group">
        <select ng-model="sightWords" class="form-control" ng-options="list as list.name for list in allSightWordLists"  title="Sight Word Lists">
          <option value="" disabled selected style='display:none;'>Choose list</option>
        </select>
      </fieldset>
    </div>  
    <div class="col-sm-2">
      <center><button ng-click="showPrompt()" class="btn btn-default">Read Prompt</button></center>
    </div>
    <div class="col-sm-2">
      <center><button ng-click="toggleView()" class="btn btn-success">Create/Edit List</button></center>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="word in sightWords.words">
      <div ng-click="checkSightWord(word)" class="col-sm-2 col-xs-4 img-thumbnail"> 
        <h3 ng-show="word.correct" class="sight-word-plus">+</h3>
        <center><h3>{{word.word}}</h3></center>
      </div>
    </div>
  </div>
  <div class = "row">
    <div ng-click="save()" class="col-sm-2 btn btn-success btn-block" ng-show="isAuthenticated()"><center><h2>Save</h2></center></div>
    <div class="col-sm-2 btn btn-danger btn-block" ng-click="resetSightWords()"><center><h2>Clear</h2></center></div>
  </div>
</div>
<div ng-show="createListShowing" >
  <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
      <center><button ng-click="toggleView()" class="btn btn-success">Back to Sight Words</button></center>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="center-form panel">
        <div class="panel-body">
        <h4 class="text-center"> My Sight Word Lists</i> </h4>
          <ol>
            <li ng-mouseover="listHover = true" ng-mouseleave="listHover = false" ng-repeat="list in currentUser.sightWordLists" >
              <a class="sight-word-lists" href="" ng-click="setCurrentList(list)">{{ list.name }}</a>
              <span ng-show="listHover">
                <span ng-click="deleteList(list)"class="ion-minus-circled delete-list-icon red pointer"></span> 
              </span>

            </li>
          </ol>
        </div>     
      </div>
    </div>
    <div class="col-sm-4">
      <div class="center-form panel">
        <div class="panel-body">
          <h4 class="text-center"> Create/Edit List  <i class="ion-edit green"></i> </h4>

          <form name="createListForm" ng-submit="saveList()" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : createListForm.name.$invalid && createListForm.name.$dirty }">
              <input class="form-control input-lg" type="text" id="name" name="name" ng-model="currentList.name" placeholder="List Name" ng-pattern="/^[a-zA-Z0-9]+$/" required>
              <span class="form-control-feedback"></span>
              <div class="help-block" ng-if="createListForm.name.$dirty" ng-messages="createListForm.name.$error">
                <div class="center-text" ng-message="pattern">No spaces or special characters can be used</div>
              </div>
            </div>

            <div>
              <ol>
                <li ng-mouseover="wordHover = true" ng-mouseleave="wordHover = false" ng-repeat="word in currentList.words" class="sightword-edit-word"> {{ word.word }} 
                  <span ng-show="wordHover">
                    <span ng-click="deleteWord(word.word)" class="ion-minus-circled delete-word-icon pointer red"></span> 
                  </span>
                </li>
              </ol>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : createListForm.newWord.$invalid && createListForm.newWord.$dirty }">
              <input class="form-control input-lg" type="text" id="newWord" name="newWord" ng-model="newWord.word" placeholder="New Word" ng-enter="addWord()">
              <span class="form-control-feedback"></span>
            </div>

            <div ng-click="addWord()"  ng-disabled="{{newWord.word}}" class="btn btn-block btn-default green">Add Word</div>
            <br>
            <button type="submit" class="btn btn-block btn-success" ng-disabled="createListForm.$invalid">Save List</button>
            <br/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

