<div class="stats-page" ng-show="warningShowing">
  <div class="panel panel-danger warning-panel">
    <div class="panel-heading">
      <h5>Are you sure you want to delete {{currentStudent.firstName}} {{currentStudent.lastName}}?</h5>
    </div>
    <div class="panel-body row">
      <div class="col-xs-6 center-text"><button ng-click="deleteStudent(currentStudent)" class="btn warning-btns">Yes, delete</button></div>
      <div class="col-xs-6 center-text">
        <button ng-click="hideDeleteWarning()" class="btn warning-btns">No</button>
      </div>
    </div>
  </div>
</div>


<div class="stats-page" ng-show="editStudentShowing" >
  <br>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-10" ng-click="hideEditStudent()"><h1 class="ion-close red pointer large"></h1></div>
  </div>
  <br>
  <div class="center-form panel edit-student-panel">
    <div class="panel-body">
      <h4 class="text-center">Edit Student  <i class="ion-edit green"></i> </h4>
      <form method="put" ng-submit="editStudent(currentStudent)" name="editStudentForm">

        <div class="form-group has-feedback" ng-class="{ 'has-error' : editStudentForm.firstName.$invalid && editStudentForm.firstName.$dirty }">
          <input class="form-control input-lg" type="text" id="firstName" name="firstName" ng-model="currentStudent.firstName" placeholder="First Name" required>
          <span class="ion-person form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : editStudentForm.lastName.$invalid && editStudentForm.lastName.$dirty }">
          <input class="form-control input-lg" type="text" id="lastName" name="lastName" ng-model="currentStudent.lastName" placeholder="Last Name" required>
          <span class="form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : editStudentForm.className.$invalid && editStudentForm.className.$dirty }">
          <select class="form-control input-lg" type="text" id="className" name="className" ng-model="currentStudent.className" ng-options="class as class for class in currentUser.classes.slice().reverse() | filter:'!All Students'"required><option value="" disabled selected style='display:none;'> Choose Class </option></select>
          <span class="ion-university form-control-feedback"></span>
        </div>
 
        <button type="submit" class="btn btn-block btn-success">Edit Student</button>
        <br/>

      </form>
      <button ng-click="deleteStudent(currentStudent)" class="btn btn-block btn-danger">Delete Student</button>
    </div>
  </div>
</div>

<div class="stats-page" ng-show="editClassShowing" >
  <br>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-10" ng-click="editClassShowing = false"><h1 class="ion-close red pointer large"></h1></div>
  </div>
  <br>
  <div class="center-form panel edit-class-panel">
    <div class="panel-body">
      <h4 class="text-center">Edit Class  <i class="ion-edit green"></i> </h4>
      <h6 class="center-text">Current: <strong>{{oldClassName}}</strong></h6>
      <form method="put" ng-submit="editClassName(editedClassName)" name="editClassNameForm">

        <div class="form-group has-feedback" ng-class="{ 'has-error' : editClassNameForm.className.$invalid && editClassNameForm.className.$dirty }">
          <input class="form-control input-lg" type="text" id="className" name="className" ng-model="editedClassName" placeholder="New Class Name" required>
          <span class="ion-person form-control-feedback"></span>
        </div>
 
        <button type="submit" class="btn btn-block btn-success">Edit Class</button>
        <br/>

      </form>
      <button ng-click="deleteClass(oldClassName)" class="btn btn-block btn-danger">Delete Class</button>
    </div>
  </div>
</div>

<div class="stats-page" ng-show="mngClassShowing">
  <br>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-10" ng-click="hideMngClass()"><h1  class="ion-close red pointer large"></h1></div>
  </div>
   
  <div class="row">
    <div class="col-xs-12">
      <div class="center-form panel add-student-panel">
        <div class="panel-body">
          
          <div >
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <h5 class="text-center"><i class="green ion-university"></i>Add Class</h5>
              </div>
            </div>

            <form method="post" ng-submit="addClass()" name="addClassForm">
              <div class="form-group has-feedback" ng-class="{ 'has-error' : addClassForm.newClass.$invalid && addStudentForm.newClass.$dirty }">
                <input class="form-control input-lg" type="text" id="newClass" name="newClass" ng-model="newClass" placeholder="New Class Name" required>
                <span class="ion-easel form-control-feedback"></span>
              </div>
       
              <button type="submit" class="btn btn-block btn-success">Add Class</button>
              <br/>

            </form>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="stats-page" ng-show="addStudentShowing">
    <br>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-10" ng-click="addStudentShowing = false"><h1  class="ion-close red pointer large"></h1></div>
    </div>

    <div class="col-xs-12" >
      <div class="center-form panel add-student-panel">
        <div class="panel-body">
          <div>
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <h5 class="text-center"><i class="green ion-person-add"></i>Add Student </h5>
                <h6 class="text-center">to</h6>
                <h6 class="text-center">{{currentClass}}</h6>
              </div>
            </div>
            <form method="post" ng-submit="addStudent(student)" name="addStudentForm">

              <div class="form-group has-feedback" ng-class="{ 'has-error' : addStudentForm.firstName.$invalid && addStudentForm.firstName.$dirty }">
                <input class="form-control input-lg" type="text" id="addFirstName" name="firstName" ng-model="student.firstName" placeholder="First Name" required>
                <span class="ion-person form-control-feedback"></span>
              </div>

              <div class="form-group has-feedback" ng-class="{ 'has-error' : addStudentForm.lastName.$invalid && addStudentForm.lastName.$dirty }">
                <input class="form-control input-lg" type="text" id="lastName" name="lastName" ng-model="student.lastName" placeholder="Last Name" required>
                <span class="form-control-feedback"></span>
              </div>
       
              <button type="submit" class="btn btn-block btn-success">Add Student</button>
              <br/>

            </form>
          </div>
          
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="containter col-md-4"> 
      

      <div class="center-form panel mng-class-panel" ng-show="allClassesShowing">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-8">
              <h3 class="center-text">Classes</h3>
            </div>
            <div class="col-xs-4">
              <button ng-click="showMngClass()" class="btn btn-block btn-success add-btn" data-toggle="tooltip" title="Add Class"><span class="ion-plus"></span></button>
            </div>
          </div>
          <ol>
            <li ng-repeat="class in currentUser.classes" ng-mouseover="deleteClassShowing = true" ng-mouseleave="deleteClassShowing = false">
              <h5 ><span class="pointer" ng-click="goToClass(class)">{{class}}</span> <span class="lt-green student-edit-btn ion-edit pointer" ng-show="deleteClassShowing" ng-click="showEditClass(class)"></span></h5>
            </li>
            <li class="pointer" ng-click="goToClass('All Students')"><h5>All Students</h5></li>
          </ol>
        </div>
      </div>
      <h5 class="all-class-btn" ng-hide="allClassesShowing" ng-click="showAllClasses()"><span class="ion-arrow-left-b lt-green"></span> <span class="pointer">All Classes</span></h5>
      <div class="center-form panel student-panel" ng-hide="allClassesShowing">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-8">
              <h3 class="center-text">Students</h3>
            </div>
            <div class="col-xs-4">
               <button ng-hide="currentClass == 'All Students'"ng-click="showAddStudent()" class="btn btn-block btn-success add-btn" data-toggle="tooltip" title="Add Students"><span class="ion-plus"></span></button>
            </div>
          </div>
          
          <div class="student-list">
            <ol>
              <div ng-repeat="student in currentStudents | orderBy:'firstName'">
                <li ng-mouseover="editBtnShowing = true" ng-mouseleave="editBtnShowing = false">
                  <h5 ng-class="(currentStudent == student) ? 'lt-green' : '' "><span ng-click="showStats(student)" class="pointer" >{{student.firstName}} {{student.lastName }} </span> <span class="lt-green student-edit-btn ion-edit pointer" ng-show="editBtnShowing" ng-click="showEditStudent(student)"> </span>
                  </h5>
                </li>
              </div>
            </ol>
          </div>
          <div class="btn btn-defualt btn-block" ng-click="showClass()">Class Comparison</div>
        </div>
      </div>
    </div>
      <div class="container col-md-8">

        <div class="center-form panel stats-panel" ng-show="classStatsShowing">
          <h3 class="center-text">{{currentClass}}</h3>
          <h5 class="center-text">Most Recent Assesments</h5>
          <table class="table">
              <thead>
                <tr>
                  <th class="col-xs-3 center-text pointer" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">Student
                    <span ng-show="sortType == 'lastName' && !sortReverse" class="ion-arrow-up-b"></span>
                    <span ng-show="sortType == 'lastName' && sortReverse" class="ion-arrow-down-b"></span>
                  </th>
                  <th class="col-xs-2 center-text pointer" ng-click="sortType = 'recentAssesments.uppercase'; sortReverse = !sortReverse">Upper
                    <span ng-show="sortType == 'recentAssesments.uppercase' && !sortReverse" class="ion-arrow-up-b tbl-crrt"></span>
                    <span ng-show="sortType == 'recentAssesments.uppercase' && sortReverse" class="ion-arrow-down-b tbl-crrt"></span>
                  </th>
                  <th class="col-xs-2 center-text pointer" ng-click="sortType = 'recentAssesments.lowercase'; sortReverse = !sortReverse">Lower
                    <span ng-show="sortType == 'recentAssesments.lowercase' && !sortReverse" class="ion-arrow-up-b tbl-crrt"></span>
                    <span ng-show="sortType == 'recentAssesments.lowercase' && sortReverse" class="ion-arrow-down-b tbl-crrt"></span>
                  </th>
                  <th class="col-xs-2 center-text pointer" ng-click="sortType = 'recentAssesments.sound' ; sortReverse = !sortReverse">
                    Sound
                    <span ng-show="sortType == 'recentAssesments.sound' && !sortReverse" class="ion-arrow-up-b tbl-crrt"></span>
                    <span ng-show="sortType == 'recentAssesments.sound' && sortReverse" class="ion-arrow-down-b tbl-crrt"></span>
                  </th>
                  <th class="col-xs-3 center-text pointer" ng-click="sortType = 'recentAssesments.sightWords.percent' ; sortReverse = !sortReverse">
                    Sight Words
                    <span ng-show="sortType == 'recentAssesments.sightWords.percent' && !sortReverse" class="ion-arrow-up-b tbl-crrt"></span>
                    <span ng-show="sortType == 'recentAssesments.sightWords.percent' && sortReverse" class="ion-arrow-down-b tbl-crrt"></span>
                  </th>
                </tr>
              </thead>
              <tbody class="class-table">
                  <tr ng-if="currentStudents.length < 1">
                    <td  class="center-text">No Students Added</td>
                  </tr>
                <tr ng-repeat="student in currentStudents | orderBy: sortType : sortReverse">
                  <td class="col-xs-3 center-text">{{student.firstName + " " + student.lastName}}</td>
                  <td class="col-xs-2 center-text" ng-class="getScoreColorClass(student.recentAssesments.uppercase)">{{student.recentAssesments.uppercase}}{{student.recentAssesments.uppercase ? "%":" "}}</td>
                  <td class="col-xs-2 center-text" ng-class="getScoreColorClass(student.recentAssesments.lowercase)">{{student.recentAssesments.lowercase}}{{student.recentAssesments.lowercase ? "%":" "}}</td>
                  <td class="col-xs-2 center-text" ng-class="getScoreColorClass(student.recentAssesments.sound)">{{student.recentAssesments.sound}}{{student.recentAssesments.sound ? "%":" "}} </td>
                  <td class="col-xs-3 center-text" >{{student.recentAssesments.sightWords.name }}<span ng-class="getScoreColorClass(student.recentAssesments.sightWords.percent)">{{ student.recentAssesments.sightWords.percent}}{{student.recentAssesments.sightWords.percent ? "%":" "}}</span> </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <h6 class="col-xs-3 center-text"><span class="red">Red</span> = below 33%  </h6>
              <h6 class="col-xs-6 center-text"><span class="yellow"> Yellow</span> = 33% to 66%</h6> 
              <h6 class="col-xs-3 center-text"><span class="green"> Green</span> = above 66%</h6>
            </div>
        </div>

        <div class="center-form panel stats-panel" ng-show="studentStatsShowing">
          <h3 class="center-text">{{currentStudent.firstName}} {{currentStudent.lastName}}'s Assesments</h3>
          <h6 class="center-text">Class: {{currentStudent.className}}</h6>

          <section class="centered-pills">
            <ul class="nav nav-pills">
              <li ng-class="{active: letterAssesmentChartShowing}"><a href="" ng-click="showLetterAssesmentChart()"> Letters</a> </li>
              <li ng-class="{active: sightWordAssesmentChartShowing}"><a href="" ng-click="sightWordAssesmentChart()"> Sight Words</a> </li> 
            </ul>
           
          </section>
          <canvas id="line" class="chart chart-line" data="data"
            labels="labels" legend="true" series="series"
            click="onClick">
          </canvas> 
          <div ng-show="letterAssesmentChartShowing">
            <div ng-repeat="assesments in letterAssesments">
              <table  ng-if="assesments.length > 0" class="table table-condensed">
                <tr>
                  <h5 ng-if="assesments.length > 0">{{letterAssesmentTitle(assesments)}}</h5>
                </tr>
                <tr>
                  <td>Dates:</td>
                  <td ng-repeat="score in assesments" class="center-text">{{score.date | date: 'shortDate'}} </td>
                </tr>
                <tr>
                  <td>Correct:</td>
                  <td ng-repeat="score in assesments" ng-class="getScoreColorClass(score.percentCorrect)" ng-click="toggleMissedLetters(score)" class="center-text pointer"> {{score.percentCorrect + "%"}}</td>
                </tr>
              </table>
              <div ng-show="{{'missed' + assesments[0].name}}" ng-if="assesments.length > 0"  class="missed-letters row">
                <h6 class="col-xs-2">Missed Letters:</h6>
                  <h5  class="col-xs-9" ng-if="assesments[0].name == 'Uppercase'"> 
                    {{missedUppercaseList}}
                  </h5>
                  <h5 class="col-xs-9" ng-if="assesments[0].name == 'Lowercase'"> 
                    {{missedLowercaseList}} 
                  </h5>
                  <h5 class="col-xs-9" ng-if="assesments[0].name == 'Sound'"> 
                  {{missedSoundList}}
                  </h5>
                <h5 class="ion-close red pointer col-xs-1" ng-click="hideMissedLetters(assesments[0].name)"></h5>
              </div>
            </div>
          </div>

          <div ng-show="sightWordAssesmentChartShowing">
            <div ng-repeat="assesments in sightWordAssesments">
              <table  ng-if="assesments.length > 0" class="table table-condensed">
                <tr><h5>{{assesments[0].name}}</h5></tr>
                <tr>
                  <td>Dates:</td>
                  <td ng-repeat="score in assesments"  class="center-text">{{score.date | date: 'shortDate'}} </td>
                </tr>
                <tr>
                  <td>Correct:</td>
                  <td ng-repeat="score in assesments" ng-class="getScoreColorClass(score.percentCorrect)" ng-click="showMissedWord(score)" class="center-text"> 
                  {{score.percentCorrect + "%"}}</td>
                </tr>
              </table>
              <div ng-show="{{'missed' + assesments[0].name}}" ng-if="assesments.length > 0"  class="missed-letters row" ng-repeat="missedObj in missedWordsLists">
                <h6 class="col-sm-2">Missed Words:</h6>
                  <h5   class="col-sm-9" ng-if="assesments[0].name == missedObj.name"> 
                    {{missedObj.missedWords}}
                  </h5>
                  <h5 class="ion-close red pointer col-sm-1" ng-click="hideMissedLetters(assesments[0].name)"></h5>
              </div>
            </div>
          </div>
          <div class="row">
              <h6 class="col-xs-3 center-text"><span class="red">Red</span> = below 33%  </h6>
              <h6 class="col-xs-6 center-text"><span class="yellow"> Yellow</span> = 33% to 66%</h6> 
              <h6 class="col-xs-3 center-text"><span class="green"> Green</span> = above 66%</h6>
            </div>
        </div>
       
      </div>
  </div>
</div>