<br>
<center> <h1>Tools</h1> </center>
<center ng-if="!isAuthenticated()"><h5 >* Sign up or Log in to save your assesments</h5></center>
<br>
<br>
      <div class="btn-holder" >
         <div class="row">
          <div class="col-md-4 col-xs-12" >
            <a href="#/letters_assesment">
              <button class="btn btn-success tool-tile" ng-mouseover="letterAssesmentDescShowing = true" ng-mouseleave="letterAssesmentDescShowing = false">
                <h5 ng-hide="letterAssesmentDescShowing">Letter <br>Assesment</h5>
                <img ng-hide="letterAssesmentDescShowing" class="tool-img img-circle"src="./img/letter_assesment.png">
                <div ng-show="letterAssesmentDescShowing">
                  <h5 class="no-caps" > Automated assessments <br> for <br>Capital Letters, <br> Lower Case Letters, <br> & Letter Sounds, <br> A to Z.</h5>
                </div>
              </button>
            </a>
          </div>
          <div class="col-md-4 col-xs-12">
            <a href="#/sight_words">
              <button class="btn btn-success tool-tile" ng-mouseover="sightWordAssesmentDescShowing = true" ng-mouseleave="sightWordAssesmentDescShowing = false">
                <h5 ng-hide="sightWordAssesmentDescShowing">Sight <br>Words</h5>
                <img ng-hide="sightWordAssesmentDescShowing" class="tool-img img-circle"src="./img/sight_words.png">
                <div ng-show="sightWordAssesmentDescShowing">
                  <h5 class="no-caps"> Create Sight Word lists <br> & track students progress <br> of sight words. </h5>
                </div>
              </button>
            </a>
          </div>
          <div class="col-md-4 col-xs-12">
            <a href="#/animal_alphabet">
              <button class="btn btn-success tool-tile" ng-mouseover="animalDescShowing = true" ng-mouseleave="animalDescShowing = false">
                <h5 ng-hide="animalDescShowing">Animal <br> Alphabet</h5>
                <img ng-hide="animalDescShowing" class="tool-img img-circle"src="./img/animal_alphabet.png">
                <div ng-show="animalDescShowing">
                  <h5 class="no-caps"> Simple Alphabet Animale<br> recognition game. </h5>
              </button>
            </a>
          </div>
        </div>
      </div>