<div ng-if="isAuthenticated()">
<div ng-if="selectedEvent" ng-show="eventSelected" class="home-selected-event container" ng-style="coords">
  
  <span class="event-arrow"></span><h6>{{selectedEvent.date | date : 'medium'}} <span class="ion-close grey pointer tracker-close-event" ng-click="closeEvent()"></span></h6>
  <h6><strong>{{selectedEvent.student}}</strong></h6>
  <h6>{{selectedEvent.assesment}}</h6>
  <h6>Correct: <span ng-class="getScoreColorClass(selectedEvent.score)">{{selectedEvent.score}}%</span></h6>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="container">
        <div class="row">
          <h2 class="center-text"></i>Assesments Tracker</h2>
          <br>
        </div>
        <div class="row">
          <div class="col-md-4">
            
            <div class="row">
                <h5 class="center-text"> Recent Letter Assesments </h5> 
                <table class="table table-fixed">
                  <thead>
                    <tr>
                      <th class="col-xs-3 center-text">Date</th>
                      <th class="col-xs-4 center-text">Student</th>
                      <th class="col-xs-3 center-text">Name</th>
                      <th class="col-xs-2 center-text">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-if="!letterAssesments">
                      <td  class="col-xs-12 center-text">No Assements Taken</td>
                    </tr>
                      
                    <tr ng-repeat="assesment in letterAssesments | orderBy:'-date' | limitTo: 20" class="row">
                      <td class="col-xs-3 center-text">{{assesment.date | date: 'shortDate'}}</td>
                      <td class="col-xs-4 center-text">{{assesment.studentName}}</td>
                      <td class="col-xs-3 center-text">{{assesment.name}}</td>
                      <td class="col-xs-2 center-text" ng-class="getScoreColorClass(assesment.percentCorrect)">{{assesment.percentCorrect + "%"}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="row">
              <h5 class="center-text"> Recent Sight Word assesments </h5> 
              <table class="table table-fixed">
                <thead>
                <tr>
                  <th class="col-xs-3 center-text">Date</th>
                  <th class="col-xs-4 center-text">Student</th>
                  <th class="col-xs-3 center-text">Name</th>
                  <th class="col-xs-2 center-text">Score</th>
                </tr>
              </thead>
                <tbody class="home-recent-assesments">
                  <tr ng-if="!sightWordAssesments">
                    <td  class="col-xs-12 center-text">No Assements Taken</td>
                  </tr>
                  <tr class="row" ng-repeat="assesment in sightWordAssesments.slice().reverse()">
                    <td class="col-xs-3 center-text">{{assesment.date | date: 'shortDate'}}</td>
                    <td class="col-xs-4 center-text">{{assesment.studentName}}</td>
                    <td class="col-xs-3 center-text">{{assesment.name}}</td>
                    <td class="col-xs-2 center-text" ng-class="getScoreColorClass(assesment.percentCorrect)">{{assesment.percentCorrect + "%"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="col-md-8">

            <div ui-calendar="uiConfig.calendar" ng-model="eventSources">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>